*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
.container{
    margin: auto;
    /* debug */
    background-color: blue;
    /* height:50px; */
}
.big{
    width: 98%;
}

.medium{
    width: 70%;
    padding-top:50px;
    /* debug */
    height: 500px;
}

.small{
    width: 50%;

    /* debug */
    /* height: 1800px; */
}

.text-column{
    width: 35%;

    /* debug */
    height: 350px;
    background-color: purple;
    border: 1px dashed black;
}

.image-column{
    width: 65%;

    /* debug */
    height: 350px;
    background-color: purple;
    border: 1px dashed black;
}

/* header */
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    padding:20px 0;
}

.nav-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* debug */
    border: 1px dashed black;

}

.panel{
    /* debug */
    border: 1px dashed black;
    background-color: purple;
    height: 40px;
    width: 20%;
}

.pan-left{
    padding-right:5px;
}
.pan-right{
    padding-left: 5px;
}



/* jumbotron */
.jumbotron{
    background-color:#b4d0e6 ;
    min-height: 500px;
}

.contenuto-jumbo{
    display: flex;
    flex-wrap: wrap;
}

#jumbo-title{
    width: 100%;

    /* debug */
    height: 50px;
    background-color: red;
    border: 1px dashed black;
}









/* main */
main{
    /* debug */
    background-color:red;
    height: 2000px;
}
/* footer */
footer{
    background-color: black;
    min-height: 500px;
}