*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    font-size: 22px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
    margin: 20px 0;
}

li{
    list-style: none;
}

.btn{
    padding: 8px 14px;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    background-color: #0061fe;
    height: fit-content;
}

.btn:hover{
    background-color: #0061fea0;
}

.testo{
    font-size: 18px;
    margin: 30px 0;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* general-macrostrutture */
.container{
    margin: auto;

    /* debug */
    /* height:50px; */
}
.big{
    width: 98%;
    min-width: 1200px;

    /* debug */
    /* border: 1px dashed black; */
    /* background-color: blue; */

}

.medium{
    width: 70%;
    min-width: 1000px;
    padding:20px 0px;
    /* min-height: 600px; */
    /* debug */
    /* height: 500px; */
    /* border: 1px dashed black; */
    /* background-color: blue; */

}

.small{
    width: 60%;
    min-width: 800px;
    padding:30px auto;

    /* debug */
    /* height: 2800px; */
    border: 1px dashed black;
    background-color: blue;

}

/* general-layout */
.text-column{
    width: 40%;
    padding-bottom: 20px;

    /* debug */
     /* height: 350px; */
    /* background-color: purple; */
    border: 1px dashed black;
}
.image-column{
    width: 60%;

    /* debug */
    /* height: 350px; */
    background-color: purple;
    border: 1px dashed black;
}
.multi-column{
    width: 32%;
    border: 1px solid rgba(0, 0, 0, 0.2);

    /* debug */
    /* height: 350px; */
    /* background-color: purple; */
}

.layout-single{
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, 0.2);

    /* debug */
    /* min-height: 200px; */
    /* background-color: purple; */
}

.layout-double{
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
}
.layout-multi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;

    /* debug */
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}


/* header */
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    /* padding:20px 0; */
}

.nav-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* debug */
    /* border: 1px dashed black; */

}

.panel{
    display: flex;
    align-items: center;
    min-height: 60px;
    /* debug */
    /* border: 1px dashed black; */
    /* background-color: purple; */
    /* height: 20px; */
}

.panel-left{
    padding-right:10px;
    margin-left: 20px;
}

.panel-right{
    padding-left: 10px;
    margin-right: 20px;
}

.nav-item{
    display: inline;
    color: black; 
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 20px;

}
.nav-item:hover{
    border-bottom: 2px solid black;
}



/* jumbotron */
.jumbotron{
    background-color:#b4d0e6 ;
    /* min-height: 500px; */
}



/* jumbo colonna di testo */

h1{
    font-size: 85px;
    padding: 30px 0;

    /* debug */
    /* height: 50px; */
    /* background-color: red; */
    border: 1px dashed black;
}
#arrow-find{
    font-size: 50px;
    color: black;
}

/* jumbo colonna immagine */
#jumbo-img{
    width: 100%;
    margin-top: 30px;
}

.space{
    min-height: 100px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


/* main */
main section{
    margin: 100px 0;
}

/* 1st section */
h2{
    font-size: 35px;
    width: 100%;
    margin: 20px auto;

    /* debug */
    /* height: 30px; */
    /* background-color: red; */
    border: 1px dashed black;
}

#tipo-fatturazione{
    width: 100%;
    margin: 40px auto;

    /* debug */
    /* height: 15px; */
    border: 1px dashed black;
    /* background-color: grey; */
}

#tipo-fatturazione span{
    margin-right: 30px;
    font-size: 18px;
}




.tipo-piano{
    text-align: center;
    padding: 5px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.scheda-piano{
    margin: 0 20px;
}
.scheda-piano h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
.prezzo{
    margin: 5px 0;
}
.prezzo + span {
    font-size: 16px;
    color: #8c8f8f;
}

.list-piano{
    margin:20px 0;
}

.list-piano li{
    padding: 10px 0;
}

.link-acquisto{
    margin-top: 50px;
    margin-bottom: 100px;
    
}
.link-acquisto > span{
    padding: 50px 0;
    border-bottom: 1px solid black;
}





.short{
    margin-top:50px;
    margin-bottom: 50px;
    width: 40%;

    /* debug */
    background-color:grey;
}

/* footer */
footer{
    background-color: black;
    min-height: 500px;
}

.info-panel{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.info-menu{
    width: 18%;

    /* debug */
    height: 300px;
    background-color: white;
    border: 1px dashed black;
}

#selezione-lingua{
    margin: 50px 0;
    padding: 50px 0;
    width: 20%;
    /* debug */
    height: 100px;
    background-color: red;
    border: 1px dashed black;

}


